.container__box{
    background-color: #262b30;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 17rem;
    height: 7rem;
}


.info__velue{
    display: flex;
    flex-direction: row;
    align-items: end;
    color: aliceblue;
}

.principal__velue{
    font-size: 3rem;
}

.info__p{
    text-align: center;
    font-size: 0.5rem;
    color: #fff;
}